<h2>Create a Branch</h2>
<form method="post" action="/branches">
	<h4>Who: <input type="text" name="organization"></h4>
	<h4>What: <input type="text" name="event"></h4>
	<h4>When: <input type="text" name="date"></h4>
    <h4>Where: <input type="text" name="location"></h4>
    <p>Why: <input type="text" name="info"></p>
  <input class="btn btn-primary" type="submit" value="submit">
</form>