<div style="background-color: #fff; width: 60vw; padding: 1em 7.5em; border-radius: 1.25em">
<h2>Create a Branch</h2>
<form method="post" action="/branches">
	<h4>What: <input type="text" name="event" id="event">
	<h4>Who: <input type="text" name="organization" id="organization">
	<h4>When: <input type="text" name="date" id="date">
    <h4>Where: <input type="text" name="location" id="location">
    <h4>Why: <input type="text" name="info" id="info"></h4>
  <input class="btn btn-primary" type="submit" value="Submit">
</form>