<% unless locals.empty? %>
  <%= message %>
<% end %>

<head>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
</head>

<h1>Sign Up </br> for Branch!</h1>
<div class="partition"></div>
<br>
<form action="/signup" method="POST">
  Email: <input type="text" name="email">
<br><br>
  Username: <input required type="text" name="username">
<br><br>
  Password: <input type="password" name="password">
<br><br>
  <input class="btn btn-primary" type="submit" value="Submit">
<br><br>
</form>
