<head>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
</head>
<h1>Log In </br> to Branch!</h1>
<div class="partition"></div>
<br>
<form method="post" action="/login">

  Username: <input type="text" name="username">
<br><br>
  Password: <input type="password" name="password">
<br><br>
  <input class="btn btn-primary" type="submit" value="Submit">
<br><br>
</form>
