<!doctype html>
<html>
  <head>
    <title>Branch</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body><center>
		<div class="container">
		<%= yield %>
		<% if logged_in? %>

        <a href="/branches/new"> Create New Branch </a>
        <a href="/logout"> Log Out </a>
        <p style="text-transform: capitalize;"> Logged In As: <%=current_user.username %></p>

      <% else %>
        <a href="/signup">Sign Up</a>
        <a href="/login"> Sign In </a>
      <%end %>
  </center>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>